/* Testimonials.module.css */

.scrollContainer {
  display: flex;
  gap: 2rem;
  width: max-content;
}

.scrollLeft {
  animation: scrollLeft 50s linear infinite;
}

.scrollRight {
  animation: scrollRight 55s linear infinite;
}

/* Pause animation on hover of the track */
.scrollContainer:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 4 - 2rem * 4));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-350px * 4 - 2rem * 4));
  }
  100% {
    transform: translateX(0);
  }
}

.maskGradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
